TAGS
*.o
*.a
dep/
nethack
recover
makedefs
lev_comp
dgn_comp
tilemap
*.lev
levels.tar
data.tar

include/vis_tab.h
include/pm.h
include/onames.h
include/date.h
src/monstr.c
src/tile.c
src/vis_tab.c

dgn_comp.h
dgn_lex.c
dgn_yacc.c
lev_comp.h
lev_lex.c
lev_yacc.c

dat/options
dat/data
dat/dungeon
dat/dungeon.pdf
dat/oracles
dat/quest.dat
dat/rip.xpm
dat/rumors
dat/sysconf
